* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.elements {
    width: 100%;
    height: 100%;
}
.elements>div {
    position: absolute;
}