* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --w-panel:80px;
}

#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.elements {
    width: 100%;
    height: calc(100% - var(--w-panel));
    position: relative;
}

.elements > div {
    position: absolute;
}

.player {
    background-color: aquamarine;
    border-radius: 1rem;
}

.ball {
    background-color: red;
    border-radius: 50%;
}
.block {
    background-color: brown;
}
.panel {
    background-color: cadetblue;
    height: var(--w-panel);
}